<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <form action="sensor" method="post">
        {% csrf_token %}
        DeviceID   <input type="text" name ="device_id" placeholder="Enter the Device ID" ><br><br>
        Location   <input type="text" name ="location" placeholder="Enter the Location" ><br><br>
        Data       <input type="text" name ="data" placeholder="Enter the Data" ><br><br>
                   <input type="submit" value="Submit">
    </form>
</body>
</html>